
.cont {
    margin: 0;
    padding: 0;
    gap: 0;
}

.jumbotron {
    background-image: url(../Images/02-hero-bg.jpg);
    background-size: cover;
}

.jumbotron .container {
    text-align: end;
    width: 500px;
}