body {
    max-width: 100%;
    overflow-x: hidden;
}
    .hero {
    display: flex;
}

.jumbotron {
    background-image: url(../Images/02-hero-bg.jpg);
    background-size: cover;
}

.jumbotron .container {
    width: 500px;       
}

.jumbotron h1 {
    justify-content: end;
    align-items: end;
}

/*modal was grayed out as z-index was more then z-index for nav bar*/
.modal-backdrop {
    z-index: auto;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;
}

